.popup__close-button {
    background-image: url('../../../images/CloseIcon.svg');
    background-repeat: no-repeat;
    background-color: unset;
    background-size: cover;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    transition: 1s;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}