.login__title {
    margin: 20px auto 50px auto;
    padding: 0;
    max-width: 358px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .login__title {
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto 40px auto;
    }
}