.header__email {
    color: #fff;
    margin: 0;
    padding: 0 24px 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .header__email {
        display: none;
        /* пока что скрыл */
    }
}