.popup__input {
    margin: 0 36px 30px 36px;
    padding: 0;
    width: 358px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #000;
    height: 27px;
}

.popup__input:last-of-type {
    margin: 0 36px;
}

@media screen and (max-width: 767px) {
    .popup__input {
        width: 238px;
        margin: 0 22px 30px 22px;
    }

    .popup__input:last-of-type {
        margin: 0 22px;
    }
}