.profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url('../../../images/Add-button.svg');
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    border: 2px solid #fff;
    transition: 1s;
    cursor: pointer;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: calc(282px + 0.18345*(320px - 100vw));
    }
}