.popup__description {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000;
    margin: 0 auto 60px auto;
    padding: 0;
    width: 358px;
}

@media screen and (max-width: 767px) {
    .popup__description {
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto 50px auto;
        width: 244px;
    }
}