.popup__icon {
    display: block;
    width: 120px;
    height: 120px;
    margin: 60px auto 32px auto;
}

@media screen and (max-width: 767px) {
    .popup__icon {
        margin: 50px auto 40px auto;
    }
}